{% extends "demo/base.html" %}

{% block content %}

<style>
  body {
    background-color: black;
  }

  td{
    color: white;
    font-size: 18px;
    padding: 10px;
  }
  th {
    color: black;
    font-size: 18px;
    padding: 10px;
  }

  .responsive-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .responsive-table th, .responsive-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .responsive-table th {
    background-color: #f2f2f2;
  }

  .responsive-table tbody tr:nth-child(even) {
    background-color: #212529;
  }

  .btn-container {
    margin-top: 20px;
  }

  .btn {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    border: 1px solid #007bff;
    cursor: pointer;
    margin-right: 10px;
  }

  .btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
  }

  .btn-info:hover {
    background-color: #117a8b;
    border-color: #10707f;
  }
</style>

<section>
  <div class="container">
    <table class="table table-striped table-dark responsive-table">
      {% if demo %}
      <thead>
        <tr>
          <th scope="col">RUN</th>
          <th scope="col">Nombre</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Fecha Nacimiento</th>
          <th scope="col">Dirección</th>
          <th scope="col">Email</th>
          <th scope="col">Género</th>
        </tr>
      </thead>

      <tbody>
        {% for postulante in demo %}
        <tr>
          <td>{{ postulante.rut }}</td>
          <td>{{ postulante.nombre }} {{ postulante.apellido_paterno }} {{ postulante.apellido_materno }}</td>
          <td>{{ postulante.telefono }}</td>
          <td>{{ postulante.fecha_nacimiento }}</td>
          <td>{{ postulante.direccion }}</td>
          <td>{{ postulante.email }}</td>
          <td>{{ postulante.id_genero.genero }}</td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
    <a href="{% url 'crud' %}" class="btn btn-info">Volver a Postulantes</a>
  </div>
</section>

{% endblock %}
